{% extends 'home.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Boxes List{% endblock %}

{% block content %}
<h1>Contenedores Registrados</h1>
{% if user %}
<p>Bienvenido, {{ user.name }} 
    {% if user.role == "elmarro" %}
        (admin)
    {% else %}
        (Nada)
    {% endif %}
</p>
{% else %}
    <p>Inicia sesión</p>
{% endif %}

<table border="1">
    <thead>
        <tr>
            <th>key</th>
            <th>state</th>
            <th>address</th>
            <th>details</th>
            <th>ability</th>
            <th>Admin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for box in boxes %}
            <tr>
                <form method="POST" action="{% url 'box_update' box.key %}">
                    {% csrf_token %}
                    <td>{{ box.key }}</td> <!-- No editable -->
                    <td><input type="text" name="state" value="{{ box.state }}"></td>
                    <td><input type="text" name="address" value="{{ box.address }}"></td>
                    <td><input type="text" name="details" value="{{ box.details }}"></td>
                    <td><input type="text" name="ability" value="{{ box.ability }}"></td>
                    <td>{{ box.email_admin }}</td> <!-- No editable -->
                    <td>
                        <button type="submit">Guardar</button>
                    </td>
                </form>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
