{% extends 'plantilla.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block title %}Búsqueda de Pedidos{% endblock %}

{% block main-content %}
<div class="main-content">
    <div class="div-search">
        <p class="wave">
            <span>B</span><span>u</span><span>s</span><span>c</span><span>a</span>  <span>T</span><span>u</span>  <span>P</span><span>e</span><span>d</span><span>i</span><span>d</span><span>o</span>
        </p>        
        {% if message %}
            <div class="alert" id="message-alert">
                <p>{{ message }}</p>        
            </div>
        {% endif %}
        
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <input class="input-search" type="text" name="order_key" id="search" placeholder="Numero de pedido..." required>
            <button class="input-submit" type="submit">Buscar</button>
        </form>
    </div>

    {% if message %}
    <!-- Script para ocultar el mensaje después de un tiempo -->
    <script>
            setTimeout(function() {
                var alert = document.getElementById("message-alert");
                if (alert) {
                    alert.style.display = 'none';
                }
            }, 4000);  // El mensaje desaparecerá después de 5 segundos
        </script>
    {% endif %}
</div>
{% endblock %}

{% block content %}

{% endblock %}
