{% extends 'plantilla.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
    
</style>
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
{% endblock %}

{% block title %}Búsqueda de Pedidos{% endblock %}

{% block main-content %}
<div class="contenedor">
    <div class="mensaje">
        <h1>Mantén tus <span>pedidos <br>seguros</span> 
        {% if user.role == "restaurante" %}
            <a class="button-search" href="#"><strong>Crear</strong></a>

        {% elif user.role == "cliente" %}
            <a class="button-search" href="#"><strong>Buscar</strong></a>
        {% endif %}
        </h1>
        <p style="margin-bottom: 50px;">Evita filas y ahorra tiempo al recolectar tus pedidos</p>
    </div>
    <!-- <model-viewer alt="box" src="https://cdn.glitch.me/5b21573e-ca11-43d9-b877-c30987a9986f/prototipo.glb?v=1742999526235"
        ar shadow-intensity="1" camera-controls touch-action="pan-y">
    </model-viewer> -->
</div>
{% endblock %}

{% block content %}

{% endblock %}
