{% load static %}

<!-- navbar.html -->
<div class="sidebar">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 200px;">
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'register' %}">Registrarse</a></li>
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        <li><a href="{% url 'orders' %}">Mis Pedidos</a></li>
    </ul>
</div>
