{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inicia{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- FontAwesome -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/plantilla.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <nav class="navbar" id="navbar">
        <a href="{% url 'home' %}"><img src="{% static 'img/FoodBox.png' %}" alt="FodBoxConnect" style="width: 150px;"></a>
        <ul style="margin-right: 10%;">
            {% if user %}
                {% if user.role == "elmarro" %}
                    <li><a href="{% url 'admin_panel' %}">Panel Administrador</a></li>
                    <li><a href="{% url 'boxes' %}">Pedidos</a></li>
                    <li><a href="{% url 'users' %}">Usuarios</a></li>
                    <li><a href="{% url 'boxes_list' %}">Contenedores</a></li>
                {% elif user.role == "restaurante" %}
                    <li><a href="{% url 'orders' %}">Pedidos</a></li>
                {% elif user.role == "cliente" %}
                    <li><a href="{% url 'login' %}">Mis Pedidos</a></li>
                {% endif %}
                {% if request.path != '/login/' and request.path != '/register/' %}
                    <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>
    
    {% block main-content %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    
    <script src="{% static 'js/boubles.js' %}"></script>
</body>
</html>
