{% extends 'restaurant_panel.html' %}

{% load static %}

{% block linksR %}
<link rel="stylesheet" href="{% static 'css/restaurant_boxes.css' %}">
{% endblock %}

{% block contenido %}
<p>
    {% if not boxes %}
        No hay cajas asociadas.
    {% else %}
    <p>Cantidad de cajas: {{ boxes|length }}</p>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {% for box in boxes %}
            <div class="box-card">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <i class="fa-solid fa-wifi icon-wifi"></i>
                    <p>{{ box.serie }}</p>
                </div>
                <form action="" method="POST">
                    <label for="name">Nombre</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box"></i> 
                        <input type="text" name="name" id="name" value="{{ box.name }}">
                    </div>
                    <label for="model">Modelo</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box"></i> 
                        <input type="text" name="model" id="model" value="{{ box.model }}">
                    </div>
                    <label for="box_key">Nip</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box"></i>
                        <input type="text" name="box_key" id="box_key" value="{{ box.box_key }}">
                    </div>
                    <label for="state">Status</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box"></i> 
                        <input type="text" name="state" id="state" value="{{ box.state }}">
                    </div>
                    <label for="position">Posicion</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box input-icon"></i> 
                        <input type="text" name="position" id="position" value="{{ box.position }}">
                    </div>
                    <label for="dateTime">Fecha de registro</label>
                    <div class="div-input">
                        <i class="fa-solid fa-box input-icon"></i> 
                        <input type="text" name="position" id="dateTime" value="{{ box.dateTime }}">
                    </div>
                </form>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</p>
{% endblock %}
