{% extends 'plantilla.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/user_order.css' %}">
{% endblock %}

{% block title %}Mis Pedidos{% endblock %}

{% block main-content %}
<div class="main-content">
    <div class="orders_content">
        {% if not orders %}
        <p class="order-summary" style="color: var(--primary-color);"><i class="fas fa-shopping-cart"></i> 0 </p>
        {% else %}
        <p class="order-summary" style="color: var(--primary-color);"><i class="fas fa-shopping-cart"></i> {{ orders|length }}</p>
        <div class="orders_card">
            {% for order in orders %}
                <div class="order-card">
                    <div class="order-header">
                        <i class="fas fa-clipboard-list icon"></i>
                        <span class="order-key">{{ order.order_key }}</span>
                    </div>
                    <div class="order-info">
                        <p>Nip</p>
                        <div style="display: flex; flex-direction: row;">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="text" class="order-status" value="{{ order.box_key }}" readonly style="border: 0px;">
                        </div>
                    </div>
                    <div class="order-info">
                        <p>Estado</p>
                        <div style="display: flex; flex-direction: row;">
                            <i class="fas fa-check-circle icon"></i>
                            {% if order.state == "pending" %}
                            <span class="order-status">Pendiente</span>
                            {% endif %}
                            {% if order.state == "completado" %}
                            <span class="order-status">Completado</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="order-info">
                        <p>Caja (Posición)</p>
                        <div style="display: flex; flex-direction: row;">
                            <i class="fa-solid fa-boxes-stacked icon"></i>
                            <span class="order-status">{{ order.box_position }}</span>
                        </div>
                    </div>
                    <div class="order-info">
                        <p>Detalles</p>
                        <div style="display: flex; flex-direction: row;">
                            <i class="fas fa-hamburger icon"></i>
                            <span class="order-status">{{ order.details }}</span>
                        </div>
                    </div>
                    <div class="order-info">
                        <p>Fecha y Hora</p>
                        <div style="display: flex; flex-direction: row;">
                            <i class="fas fa-calendar-alt icon"></i>
                            <span class="order-status">{{ order.dateTime }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
