{% extends 'plantilla.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/user_order.css' %}">
{% endblock %}

{% block title %}Mis Pedidos{% endblock %}

{% block main-content %}
<div class="main-content">
    <div class="orders_content">
        {% if not orders %}
        <p>No has realizado pedidos.</p>
        {% else %}
        <p class="order-summary">Cantidad de pedidos realizados: {{ orders|length }}</p>
        <div class="orders_card">
            <div class="orders-list">
                {% for order in orders %}
                <div class="order-card">
                    <div class="order-header">
                        <i class="fas fa-clipboard-list icon"></i>
                        
                        <span class="order-key">{{ order.order_key }}</span>
                    </div>
                    
                    <div class="order-details">
                        <div class="order-info">
                                    <label for="state">Estado:</label>
                                    <i class="fas fa-check-circle icon"></i>
                                    <span class="order-status">{{ order.state }}</span>
                                </div>
                                <div class="order-info">
                                    <label for="model">Caja (Posición):</label>
                                    <i class="fas fa-map-marker-alt icon"></i>
                                    <span class="order-box">{{ order.box_position }}</span>
                                </div>
                                <div class="order-info">
                                    <label for="box_key">Detalles:</label>
                                    <i class="fas fa-hamburger icon"></i>
                                    <span class="order-details-info">{{ order.details }}</span>
                                </div>
                                <div class="order-info">
                                    <label for="dateTime">Fecha y Hora:</label>
                                    <i class="fas fa-calendar-alt icon"></i>
                                    <span class="order-date">{{ order.dateTime }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
