:root {
    --primary-color: #2e3035;
    --secondary-color: #5e636f;
    --card-color: #46494e;
    --cardA-color: #555b63;
    --background-color: #f2f2f2;
    --font-family: "Poppins", sans-serif;
    --text-color: white;
    --div-input-color: rgb(247, 248, 253);
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}