:root {
    --primary-color: #83a69f; /* Verde azulado suave */
    --secondary-color: #6b8c86; /* Un tono más oscuro para contraste */
    --card-color: #d3e1de; /* Un verde pastel claro para tarjetas */
    --cardA-color: #99b6b0; /* Intermedio entre primary y secondary */
    --background-color: #eef4f2; /* Un tono muy claro y suave para el fondo */
    --font-family: "Poppins", sans-serif;
    --text-color: #2f4f4a; /* Un gris oscuro con matiz verde azulado para legibilidad */
    --div-input-color: #e1edeb; /* Un gris claro con matiz verde azulado */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}