.data{
    background-color: var(--card-color);
    border: 0;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data label {
    font-weight: 100;
    font-size: 16px;
}

.data-input {
    font-weight: 100;
    width: calc(100% - 30px); 
    font-size: 12px;
    padding: 4px 30px 4px 10px; 
    border: 0;
    border-radius: 0.5rem; 
    box-sizing: border-box;
}

.data-input:focus {
    outline: none;
}

.data button {
    width: calc(100% + 25px);
    border: 0;
    border-radius: 1rem;
    background-color: var(--primary-color);
    padding: 10px 0px 10px 0px;
    color: rgb(198, 174, 231);
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
}

.data button:hover {
    background-color: var(--secondary-color);
}

.single-div {
    display: flex;
    flex-direction: column;
    padding: 10px 14px 10px 14px;
    width: 100%;
    margin: 10px;
    border-radius: 1rem;
    background-color: rgb(198, 174, 231);
    align-items: start;
}

.row-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

#eyeIcon {
    position: absolute;
    right: 10px;  
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 15px;
}

i {
    color: var(--secondary-color);
    margin-right: 4px;
}
