body {
    background-color: #ececec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDF1DD;
    padding: 5%;
    border-radius: .5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .data {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .data {
        width: 100%;
        border-radius: 0;
        padding: 8%;
        margin-bottom: 40px;
    }
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 8px;
}

.data-input{
    border-radius: 0;
    border: 0;
    padding: 4px;
    border-bottom: 2px solid #33595E;
    caret-color: purple;
}

.data-input:focus{
    outline: none;
}

.single{
    width: 94.6%;
}

.data div button{
    margin-top: 8px;
    width: 96%;
    background-color: #DDD7C5;
    border-radius: 3px;
    border: 1px solid black;
    height: 30px;
}

.single-div{
    width: 90%; 
    display: flex; 
    flex-direction: column; 
    margin-top: 5px;
}


.select {
    width: 96%;
    height: 35px;
    margin-top: 6px;
    border: 0px;
    border-bottom: 2px solid #33595E;
    padding: 0 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.select:focus {
    border-color: #33595E;
    outline: none;
    background-color: #fff;
}

.select-items {
    position: absolute;
    color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }