body {
    font-family: 'Lucida Console', monospace;
    margin: 0;
    padding: 0;
    background-color: #f7ede2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 700px;
    height: 300px;
    text-align: center;
}

.principal h1 {
    font-size: 2.5rem;
    color: #32457e;
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    color: #32457e;
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0eeee;
}

button {
    background-color: #32457e;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    background-color: #273a64;
}

body::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #d8b99a;
    border-radius: 50%;
    top: -100px;
    left: -100px;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #e5c9a5;
    border-radius: 50%;
    bottom: -100px;
    right: -100px;
    z-index: -1;
}
